<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Omega Base Station</title>

    <link rel="stylesheet" href="/vendor/bootstrap.min.css">
    <style>
        html, body {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body class="w-100 h-100 bg-dark">
<div class="container h-100 bg-light" id="app">
    <div class="jumbotron">
        <h1>Omega Base Station</h1>
        <p>This is the main configuration and management page of Omega Base
            Station. The project aims at building a field datalogger for
            distributed sensor networks operated by one or many base
            stations build and run on the Onion Omega2+. The sensor nodes
            are connected WiFi enabled sensors. The data transmission shall
            be possible by hand, LoRaWAN (TTN), GSM or WiFi one day.
        </p>
        <!--<h4>
            <div class="badge badge-success">device name: <div class="badge badge-light">{{ dev_name }}</div></div>
            <div class="badge badge-success">software version: <div class="badge badge-light">{{ dev_version }}</div></div>
            <div class="badge badge-info">device IP: <div class="badge badge-light">{{ dev_ip }}</div></div>
            <div class="badge badge-success">connected devices: <div class="badge badge-light">{{ devicesCount }}</div></div>
        </h4>-->
        <p class="mt-5">
            <shield v-bind:opt="{name:'Device name',value:dev_name, color:'bg-success'}"></shield>
            <shield
                    v-bind:opt="{name:'Software version',value:dev_version, color:'bg-success'}"></shield>
            <shield
                    v-bind:opt="{name:'Device IP',value:dev_ip, color:'bg-info'}"></shield>
            <shield
                    v-bind:opt="{name:'Sensors found',value:devicesCount, color:'bg-success'}"></shield>
        </p>
    </div>

    <div class="row">
        <div class="col col-lg-6 col-12">
            <h3>connected sensors</h3>
            <button class="btn btn-outline-primary" @click="loadDevices()">refresh</button>
            <button class="btn btn-outline-danger" @click="devices = []">clear</button>
            <device-item v-for="device in devices" v-bind:device="device"></device-item>
        </div>

        <div class="col col-lg-6 col-12">
            <h3>last payload</h3>
            <button class="btn btn-outline-primary" @click="loadLastPayload(5)">refresh</button>
            <button class="btn btn-outline-danger" @click="lastPayload= ''">clear</button>
            <payload-preview v-bind:payload="lastPayload" class="w-100" style="height: 500px;"></payload-preview>
        </div>
    </div>
</div>


<!-- scripts -->
<script src="/vendor/vue.js"></script>
<script>
Vue.component('device-item', {
    props: ['device'],
    template: '<div class="card p-3"><h5>{{ device.name ? device.name : "ID: " + device.dev_id }}' +
        '<div class="badge badge-success float-right">Last seen:&nbsp; <div class="badge badge-light">{{ device.last_connection }}</div></div></h5>' +
        '<div>IP: {{ device.dev_ip }}</div></div>'
});

Vue.component('payload-preview', {
    props: ['payload'],
    template: '<textarea class="bg-light card p-3">{{ payload }}</textarea>'
});

Vue.component('shield', {
    props: ['opt'],
    template:
        '<span><span class="bg-dark p-2 my-4 rounded-left text-light">{{ opt.name }}</span><span class="p-2 my-4 rounded-right" :class="opt.color">{{ opt.value }}</span></span>'
});

var app = new Vue({
    el: '#app',
    data: {
        devices: [],
        lastPayload: '',
        dev_name: 'UNKOWN',
        dev_ip: '0.0.0.0',
        dev_version: 'XX'
    },
    computed: {
        devicesCount: function () {
            return this.devices.length;
        }
    },
    methods: {
        loadDevices: function() {
            fetch('/devices').then(response => response.json())
                .then(json => {
                    this.devices = json.devices;
                });
        },
        loadLastPayload: function(max= 5) {
            fetch('/logs?max=' + max).then(response => response.json())
                .then(json => {
                    this.lastPayload = json.logs;
                });
        },
        refresh: function() {
            this.loadDevices();
            this.loadLastPayload(5);
        }
    },
    ready: function() {
      this.loadDevices();
    },
    created() {
        // get general device info
        fetch('/describe').then(response => response.json())
            .then(json => {
                console.log(json);
                this.dev_name = json.dev_id;
                this.dev_ip = json.host_ip;
                this.dev_version = json.host_version;
            });

        // refresh page
        this.refresh();

        // set interval
        setInterval(this.refresh, 60000);
    }
});
</script>
</body>
</html>